/********* Text Manipulation ************/

h1, h2, h3, p {
  text-align: center;
}

h1 {
  width: 80%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 3em;
  line-height: 2em;
  color: #555;
  text-shadow: 1px 2px 3px rgba(200, 200, 200, 1);
}

h2 {
  width: 80%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 2em;
  color: #555;
}

h3 {
  color: white;
  font-size: 2em;
  line-height: 2em;
  font-weight: 400i;
}

.block {
  padding-top: 3em;
}

/*************** Element Manipulations ************/

li {
  list-style: square;
  font-family: "Open Sans", sans-serif;
  line-height: 2em;
  width: 60%;
  margin: 0 auto;
}

a {
  color: #b8abcc;
  text-decoration: underline;
  font-weight: 300;
}

div {
  width: 70%;
  margin: 0 auto;
}

.block {
  margin: 40px auto;
}

.buttonspecs {
  text-align: left;;
  margin-top: 5em;
  display: block;
  width: 50%;
}

.button,
.phone
{
 font-family: "Open Sans";
  font-weight: 600;
  font-size: 1em;
  text-decoration: none;
  padding: 1em;
  background-color: #eee;
  text-align: left;
  color: #000;
  display: block;
  width: 100%;
}


.employ {
  text-align: center;
  margin: 4em auto;
}
.employ a{
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1em;
  color: #000;
  width: 30%;
  padding: 2em;
  background: #dddfff;
}

/****** Nav Bar *******/

.nav {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  overflow: hidden;
  margin-top: 1em;
}

.nav li {
  display: inline;
}

.nav a {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  text-align: center;
  border-bottom: 1px solid black;
  text-decoration: none;
  padding: 2px;
  display: inline-block;
  width: 120px
}
.nav a:hover {
  color: #000;
  cursor: default;
}

.nav li.selected a {
  background-color: #333;
}


/***************** Media Queries ****************/

@media screen and (max-width: 750px) {
  div {
   width: 100%; 
  }
  
  li {
    width: 80%;
  }
  
  .nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .nav a {
    
  }
}


